---
layout: single
title: "Figure Skating"
permalink: /figure-skating/
author_profile: true
---

{% include base_path %}

{% for post in site.figureskating reversed %}
  {% include archive-single.html %}
{% endfor %}



<!-- # Figure Skating ⛸️

## Overview
I have been skating for about **two years**, and I am currently working on my **single Loop** jump. 
My figure skating journey began at the **[National Ice Centre](https://national-ice-centre.com/)** in Nottingham. 
Now I mainly practice at **[City Ice Pavilion](https://www.cityicepavilion.com/)** in Long Island City, and sometimes at **[Chelsea Piers Sky Rink](https://www.chelseapiers.com/skyrink-chelsea)** in Manhattan.

## Post -->

